.photo-grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, 284px);
 grid-auto-rows: 213px;
 grid-auto-columns: 284px;
 justify-content: center;
 gap: 16px;
 padding: 0 48px;
}

@media (max-width:1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 225px;
    grid-auto-columns: 300px;
    gap: 14px;
  }
}

@media (max-width:768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 352px);
    grid-auto-rows: 264px;
    grid-auto-columns: 352px;
    gap: 16px;
    padding: 0 24px;
  }
}

@media (max-width:320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-auto-rows: 216px;
    grid-auto-columns: 288px;
    gap: 16px;
    padding: 0 16px;
  }
}