.footer__block {
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width:768px) {
  .footer__block {
    padding: 0 24px;
  }
}

@media (max-width:678px) {
  .footer__block {
    display: block;
  }
}

@media (max-width:320px) {
  .footer__block {
    padding: 0 16px;
  }
}