.places__img {
  width: 100%;
  max-width: 460px;
  height: 460px;
  object-fit: cover;
}

@media (max-width:1024px) {
  .places__img {
    width: 100%;
    max-width: 440px;
    height: 440px;
    object-fit: cover;
  }
}

@media (max-width:768px) {
  .places__img {
    width: 100%;
    max-width: 340px;
    height: 340px; 
    object-fit: cover;
  }
}

@media (max-width:320px) {
  .places__img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
    margin-bottom: 32px;
  }
}