.lead__title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 96px;
  line-height: 104%; 
  color: #FFF;
  max-width: 720px;
  width: 100%;
  margin: auto;
  text-align: center;
}
@media(max-width:720px) {
  .lead__title {
    font-size: 60px;
    line-height: 110%;

  }
}

@media(max-width:476px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;

  }
}
@media (max-width:320px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;

  }
}