.intro__block {
  margin: 92px 0 92px 0; 
  padding: 0 48px;
}

@media (max-width:1024px) {
  .intro__block {
    margin: 74px 0 92px 0; 
  }
}

@media (max-width:768px) {
  .intro__block {
    margin: 88px 0 88px 0; 
    padding: 0 24px;
  }
}

@media (max-width:320px) {
  .intro__block {
    margin: 64px 0 64px 0;
    padding: 0 16px;
  }
}