.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 74px 48px;
}

@media (max-width:1024px) {
  .header__block {
    padding: 28px 48px 48px 48px;
  }
  }
  @media (max-width:1024px) {
    .header__block {
      padding: 28px 24px 48px 24px;
    }
    }

@media (max-width:768px) {
  .header__block {
    padding: 16px 16px 48px 16px ;
  }
 
}