.cover__text {
max-width: 360px;
width: 100%;
font-weight: 400;
font-size: 18px;
line-height: 122%;
text-align: center;
color: #FFF;
z-index: 10;
margin: 32px auto 20.7% auto;
}
@media (max-width:656px) {
  .cover__text {
    font-size: 16px;
  }
}

@media (max-width:320px) {
  .cover__text {
    margin: 16px auto 20.7% auto;
    font-size: 14px;
    line-height: 114%;
  }
}