.cover__text {
max-width: 360px;
font-weight: 400;
font-size: 18px;
line-height: 122%;
text-align: center;
color: #FFF;
z-index: 10;
margin: 32px 0 0 0;
}
@media (max-width:720px) {
  .cover__text {
    margin: 16px 0 0 0 ;
    font-size: 14px;
    line-height: 114%;
    max-width: 260px;
  }
}

