.cover__img {
margin: auto;
background: #2A2C2F;
background-image: url(../../../images/__background.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
padding:  20.7% 0;
}

.cover__img:hover .cover__overlay {
  opacity: .8;
}

@media (max-width: 1024px) {
  .cover__img {
    padding:  19% 0;
  }
}

@media (max-width: 768px) {
  .cover__img {
     padding:  15% 0;
  }
}

@media (max-width: 320px) {
  .cover__img {
    padding:  10.5% 0;
  }
}