.cover__img {
margin: auto;
background: #2A2C2F;
background-image: url(../../../images/__background.jpg);
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
}

.cover__img:hover .cover__overlay {
  opacity: .8;
}

@media (max-width: 1024px) {
  .cover__img {
    margin: 0 -48px;
  }
}