.lead__text {
font-family: 'Inter';
font-weight: 400;
font-size: 10px;
max-width: 984px;
width: 100%;
margin: auto;
line-height: 140%;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 8px;
}