.places__title {
font-weight: 900;
font-size: 72px;
line-height: 106%;
margin: 0;
}
@media (max-width:930px) {
  .places__title {
    font-size: 52px;
    line-height: 110%;
  }
}

@media (max-width:768px) {
  .places__title {
    max-width: 330px;
    font-size: 42px;
  }
}

@media (max-width:670px) {
  .places__title {
    max-width: 100%;
    font-size: 35px;
    margin-bottom: 32px;
  }
}

@media (max-width:320px) {
  .places__title {
    font-size: 32px;
    padding: 0 16px;
  }
}


