/* normalize */
@import url(../vender/normalize.css);

/* шрифты */
@import url(../fonts/fonts.css);
@import url(../blocks/body/body.css);
/* page */
@import url(../blocks/page/page.css);

/* conteiner */
@import url(../blocks/conteiner/conteiner.css);

/* header */
@import url(../blocks/header/__block/header__block.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__item/header__item.css);

 
/* lead */
@import url(../blocks/lead/__block/lead__block.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/title.subtitle.css);
@import url(../blocks/lead/__img-block/lead__img-block.css);
@import url(../blocks/lead/__img/lead__img.css);
@import url(../blocks/lead/__text/lead__text.css);

/* intro */
@import url(../blocks/intro/__block/intro__block.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__item/intro__item.css);

/* photo-grid */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__img/photo-grid__img.css);

/* places */
@import url(../blocks/places/__list/places__list.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__tilte/places__title.css);
@import url(../blocks/places/__adres/places__adres.css);
@import url(../blocks/places/__url/places__url.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__img-border/places__img-border.css);
@import url(../blocks/places/__img/places__img.css);
@import url(../blocks/places/__text/places__text-parag.css);

/* cover */
@import url(../blocks/cover/__block-img/cover__block-img.css);
@import url(../blocks/cover/__img/cover.img.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__text/cover__text.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__block/footer__block.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);