.places__item {
  display: grid;
  grid-template-columns:  minmax(440px, 460px)  minmax(456px, 484px);
  grid-template-rows: minmax(92px, max-content)  minmax(340px, max-content);
  justify-content: center;
  gap: 48px 40px;
}

.places__item:not(:last-child) {
  margin-bottom: 80px;
}

@media(max-width:1024px) {
  .places__item {
    display: grid;
    grid-template-columns:  minmax(340px, 440px)  minmax( 352px, 456px);
    grid-template-rows: minmax(92px, max-content)  minmax(340px, max-content);
    justify-content: center;
    gap: 48px 32px;
  }
}

@media(max-width:768px) {
  .places__item {
    display: grid;
    grid-template-columns:  minmax(160px, 340px)  minmax(160px, 352px);
    grid-template-rows: minmax(92px, max-content)  minmax(340px, max-content);
    justify-content: center;
    gap: 48px 28px;
  }

  .places__item:not(:last-child) {
    margin-bottom: 73px;
  }
}

@media(max-width:476px) {
  .places__item {
    display: block;
  }
}

@media(max-width:320px) {
  .places__item {
    display: block;
  }
  
  .places__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
  

