.header__item {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  transition: .3s linear;
  line-height: 117%;
  text-decoration: none;
}

.header__item:hover {
  opacity: .8;
}

@media (max-width:320px) {
  .header__item {
  font-size: 18px;
  line-height: 111%;
  }
}